.navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
    
}

.navContainer{
    width: 100%;
    max-width: 1024;
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}
.logo{
    font-weight: 500;
    font-size: 2rem;
    margin:auto;
}
.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
}